<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create picture</title>
</head>
<body>
<h1>Create picture</h1>
<p>
    <a href="/pictures">picture list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form action="/create-picture" th:object="${picture}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Height</td>
            <td><input type="number" th:field="*{height}"/></td>
        </tr>
        <tr>
            <td>Width</td>
            <td><input type="number" th:field="*{width}"/></td>
        </tr>
        <tr>
            <td>Material</td>
            <td><input type="text" th:field="*{material}"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td> Category</td>
            <td>
                <div th:each="p : ${category}">
                    <input type="checkbox" th:field="*{category}" th:value="${p.id}" >
                    <label  th:text="${p.c_name}"></label><br>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>