<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-picture">Create new picture</a>
<h1>picture</h1>
<form action="/search-picture" method="post">
    Search by name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<br/>
<table border="1">
    <tr>
        <th>picture name</th>
        <th>picture height</th>
        <th>picture weight</th>
        <th>picture material</th>
        <th> description</th>
        <th> price</th>
        <th>category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="picture : ${pictures}">
        <tr>
            <td th:text="${picture.name}"></td>
            <td th:text="${picture.height}"></td>
            <td th:text="${picture.width}"></td>
            <td th:text="${picture.material}"></td>
            <td th:text="${picture.description}"></td>
            <td th:text="${picture.price}"></td>
            <td th:if="${picture.category}"><div th:each="cate : ${picture.category}">
                <span th:text="${cate.c_name}"></span>,
            </div></td>
            <td th:unless="${picture.category}"></td>
            <td><a th:href="@{/edit-picture/__${picture.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-picture/__${picture.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>